:root {
  --container-width: 1091px;
  --container-padding: 0px;
  --max-width: 1444px;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
}
button {
  border: none;
  background-color: white;
  color: #444444;
  padding: 15px 35px 12px 36px;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  padding: 0px var(--container-padding);
  width: 100%;
}

.header-div,
.footer-div {
  display: flex;
  align-items: center;
}
header,
footer {
  display: flex;
  align-items: center;
  height: 7.8125rem;
  background-color: white;
}
footer {
  background-color: #f6f6f6;
}
.drop-down-header {
  position: sticky;
  top: 0;
  height: fit-content;
  z-index: 999;
  width: 100%;
  background-color: white;
}
#logo-img {
  margin-right: 2.4375rem;
}

.GG a {
  padding: 2px;
  /*that mean from right to left (<--) start from white to red  "the red will be shown first"*/
  background: linear-gradient(to left, white 51%, rgb(250, 56, 56) 49%);
  /*the default position is left so the red color will be shown if not right*/
  background-position: right;
  color: #444444;
  /*back ground width 200% so when position it to right only the white part will show*/
  background-size: 220%;
  border-radius: 5px;
  /*tarnsition for the background color with the font color, think of it like sliding the background from white side
  (the right) to red (the left side)*/
  transition: background-position 0.3s ease-in, color 0.3s ease-in;
  font-size: 1.0625rem;
}
.GG a:hover {
  background-position: left;
  color: white;
}
.GG.active a {
  background-position: left;
  color: white;
}

.headNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.9375rem;
}
.headNav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.socialMedia {
  gap: 0.4375rem;
  display: inline-flex;
}

.socialMedia svg {
  fill: #444444;
  max-width: 48%;
  max-height: 48%;
}
.search-icon svg {
  fill: white;
  border: none;
}
.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 38px;
  background-color: #ffffff;
  border: solid 1px #cacaca;
}
#nav-search--icon {
  background-color: #ef1923;
  fill: white;
}

#lottie-nav-bar {
  display: none;
}

.nav-bar-close-icon svg {
  fill: white;
  width: 50px;
  height: 50px;
}

.sec1 {
  display: flex;
  width: 100%;
  background: url("images/background/background1.png") no-repeat center center;
  background-size: 100% 100%;
  color: white;
  flex-direction: column;
  background-position: left;
  transition: background-image 0.5s ease-in-out;
}
.slider {
  font-family: "Montserrat";
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding-top: 15%;
  padding-bottom: 63px;
}
.slider p {
  line-height: 1.75rem;
  color: #ffffff;
  width: 32rem;
  max-width: 100%;
}
.slider h2 {
  font-family: "Poppins";
  font-size: 2.5rem;
}
[class^="dots"] {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dots {
  margin-top: 127px;
}
[class^="dots"] div {
  padding: 4.1px;
  background-color: transparent;
  border: solid 1px white;
}

.dots-2 {
  margin-top: 28px;
}
.dots-2 div {
  border: solid 1px #6b6b6b;
}
.dots div.active {
  background-color: white;
}
.dots-2 div.active {
  background-color: #6b6b6b;
}

.sec2 {
  padding-top: 80px;
}
.sec2-layout {
  display: grid;
  grid-template-areas: ". image";
}

.item-h {
  color: rgb(0, 127, 196);
  font-family: "Poppins";
  font-size: 30px;
  padding-left: 38px;
  padding-bottom: 20px;
  width: fit-content;
}
.item-h .small {
  font-size: 18px;
}

.item-p {
  align-self: flex-start;
  position: relative;
  box-sizing: border-box;
  color: #6b6b6b;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  padding: 34px 57px 40px 37px;
}

.item-p ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 56px;
  height: 100%;
  width: 100%;
  border: solid 4px #007fc4;
  z-index: 99;
}

.item-img {
  justify-self: flex-end;
  grid-area: image;
  max-width: fit-content;
}
.item-img img {
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

.ProductsContainer {
  font-family: "Poppins";
  font-size: 0.875rem;
  color: #6b6b6b;
  margin-top: 112px;
  margin-bottom: 112px;
}
.ProductsContainer h2 {
  font-size: 1rem;
}
.alist-header h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.blue {
  color: #007fc4;
}
.alist {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.check {
  box-sizing: border-box;
  border: 1px solid rgb(181, 181, 181);
  background: rgb(255, 255, 255);
  color: #b5b5b5;
  padding: 10px 18px;
  height: fit-content;
  cursor: pointer;
  text-align: center;
  text-wrap: nowrap;
}
.check.active {
  background-color: #007fc4;
  color: #ffffff;
  transition: 0.4s ease-in;
}
.proList-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
  gap: 24px;
  padding-top: 46px;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.center figcaption {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-family: "poppins";
  color: #757575;
  margin-top: auto;
}

.product-item-img-div img {
  width: 100%;
  max-height: 130px;
}
.product--item {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 10px;
}
.product--item p {
  width: 80%;
  align-self: center;
  text-align: center;
  margin-bottom: auto;
}
.product--item h2 {
  align-self: center;
  color: #444444;
}

.label {
  display: block;
  align-items: center;
  background-color: #f8c025;
  color: #ffffff;
  align-self: flex-start;
  padding: 3px 14px 1px 5px;
  font-size: 8px;
  border-radius: 0px 2px 0px 0px;
  margin-bottom: 6px;
  position: relative;
}
.label-span {
  position: absolute;
  right: 0px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 9px solid white;
  top: -11%;
}
.Details-class {
  display: flex;
  border: 2px solid rgb(156, 156, 156);
  background: rgb(255, 255, 255);
  color: #007fc4;
  font-size: large;
  padding: 5px;
  justify-content: center;
  margin-top: 10px;
}
.x {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.x.active {
  background-color: rgb(198, 190, 190);
  color: white;
  border-radius: 5px;
}
.product-item-dialog {
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: -10;
  font-size: 30px;
  color: red;
  text-align: center;
  background-color: rgba(236, 222, 222, 0.5); /* Black with 50% opacity */
}
.wrapper img {
  max-width: 200px;
}
.wrapper .textDiv {
  margin: 20px;
}
.close {
  border: solid 1px black;
  font: 30px "poppins";
  background-color: #007fc4;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px;
}

.sec3 {
  width: 100%;
  background: rgb(243, 243, 243);
}
.sec3-cont {
  padding-top: 4.5rem;
  padding-bottom: 5.1875rem;
}
.sec3-cont h2 {
  font-family: "poppins";
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.8125rem;
  color: #757575;
}
.sec3-cont-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.40625rem;
  margin-top: 1.5625rem;
}
.sec3-cont-img figure {
  width: 100%;
  flex: 1;
}
.sec3-cont-img figure img {
  max-width: 100%;
}
.sec3-cont-img figcaption {
  color: #6b6b6b;
  font-size: 12px;
  font-family: "Roboto";
}
.sec3-cont-img figcaption svg {
  display: inline;
  color: #6b6b6b;
}
.sec3-cont-img-text {
  display: block;
  font-family: "poppins";
  font-size: 16px;
  font-weight: bold;
}
.tap {
  display: grid;
  width: 100%;
  overflow-y: hidden;
  max-width: var(--max-width);
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  justify-content: center;
}
.tap-img-cont img {
  max-width: 100%;
  height: auto;
}
.tap-img-cont {
  position: relative;
  max-width: 300px;
}
.tap-img-cont:hover .caption {
  display: flex;
  flex-direction: column;
}
.caption {
  color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgb(99, 190, 70, 0.81);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 23px;
}
.caption p {
  width: 70%;
  padding-top: 53px;
  text-align: center;
}
.caption svg {
  fill: white;
}
.sec4 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.sec4-img-cont {
  opacity: 0.56;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  mix-blend-mode: luminosity;
  align-items: flex-end;
}
.sec4-img-cont img {
  max-width: 100%;
}

.gg {
  font-size: 20px;
  padding: 5px;
}
@media only screen and (max-width: 1150px) {
  :root {
    --container-width: 90%;
    font-size: 15px;
  }

  .socialMedia > a {
    display: none;
  }
  #nav-search--icon {
    display: flex;
  }
  .header-div {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 940px) {
  .headNav {
    position: fixed;
    flex-direction: column;
    border: solid 1px black;
    top: 0;
    left: -100%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    max-width: 100%;
    width: 100%;
    align-items: flex-start;
    padding: 50px;
    transition: left 1s ease-in-out;
    overflow-y: auto;
  }
  .headNav.active {
    display: flex;
    left: 0;
  }
  .headNav ul {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .GG a {
    font-size: 25px;
    font-family: poppins;
    background: none;
    color: white;
  }
  .socialMedia > a {
    display: flex;
  }
  .socialMedia {
    max-width: 100%;
    flex-wrap: wrap;
  }
  #lottie-nav-bar {
    display: block;
  }

  .sec2-layout {
    grid-template-areas: "image";
    gap: 20px;
  }
  .item-img img {
    border-radius: 15px;
  }
  .item-p ::after {
    padding-left: 0px;
  }
  .socialMedia a {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (max-width: 500px) {
  .headNav {
    width: 100%;
    left: -100%;
  }
  .headNav.active {
    left: 0;
  }
}
